/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    margin-top: 50px; /* Margen superior de 50px */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #34c4ac;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('fondo.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}


input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 40p; /* Ajusta el valor de height para igualar la altura de los elementos */
    box-sizing: border-box;
    
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #48edf3;
    color:#000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


button:hover {
    background-color: #45a049;
}

#Resultat {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

  /* Estilos responsivos */
@media (max-width: 600px) {
    form {
    max-width: 100%;
    }
}
